1. Given a string, reverse the order of characters using string slicing and print
the reversed string.

In [ ]:
# take string input from user with help input function
string=input('enter the string:')
n=len(string)
string= string.lower()
string_rev= string[::-1]
print(string_rev)

enter the string:nitn
ntin

2. Write a program that takes a string as input and checks if it is a palindrome
(reads the same forwards and backwards).

In [ ]:
string=input('enter the string:')
n=len(string)
string= string.lower()
string_rev= string[::-1]
if string==string_rev:
    print('string is palindrome')
else:
    print('string is not palindrome')

enter the string:nitin
string is palindrome

3. Convert a string to uppercase.

In [ ]:
string=input('enter the string:')
#convert string uppercase and print
print(string.upper())

enter the string:suraj
SURAJ

4. Convert a String to lowercase

In [ ]:
string=input('enter the string:')
#convert string lowercase and print
print(string.lower())

enter the string:SURAJ
suraj

5. Count the number of vowels in a string.

In [ ]:
#take a input from user
string = input("enter the string:")
count=0
# all string convert lower case
string= string.lower()
for i in string:
    if i=='a' or i=='e' or i=='i'  or i=='o' or i=='u':
        #if true
        count+=1
#print no of vowel
print(str(count))

enter the string:suraj
2

6. Count the number of consonants in a string.

In [ ]:
#take a input from user
string = input("enter the string:")
count=0
# all string convert lower case
string= string.lower()
for i in string:
    if i=='a' or i=='e' or i=='i'  or i=='o' or i=='u':
        pass
    else:
        #if false
        count+=1
#print no of consonants
print(str(count))

enter the string:pwskills
7

7. Remove all whitespaces from a string.

In [ ]:
#take a input from user
string = input("enter a string")
white_space = string.replace(" ","")
print(white_space)

enter a stringpw    skills
pwskills

8. Find the length of a string without using the `len()` function.

In [ ]:
#Take a input from user
string = input("enter a string: ")
count=0
#iterate the string and increase the count
for i in string:
    count+=1
print(count)

enter a stringsuraj
5

9. Check if a string contains a specific word.

In [ ]:
#take a string from user
string=input("enter a string:")
specific_word=input("")
#check your string is containing or not specific word using if
if specific_word in string:
    print("string is containing specific word")
else:
    print("string is not containing specific word")

enter a string:python is a most easy lenguage
python
string is containing specific word

10. Replace a word in a string with another word.

In [ ]:
#take a string from user
string=input("enter a string:")
char=input("enter a char:")
replace_word=input("enter a word:")
#replace a word in a string using append function
if char in string:
    string=string.replace(char,replace_word)
    print(string)

enter a string:pwskills
enter a char:s
enter a word:h
pwhkillh

11. Count the occurrences of a word in a string.

In [ ]:
#take a string from user
string=input("enter the string:")
word=input("enter the word:")
count=0
#count the occurrences of a word in a string
for i in string.split():
    if i==word:
        count+=1
print(count)

enter the string:python is awesome. i love python because python is easy.
enter the word:python
3

12. Find the first occurrence of a word in a string.

In [ ]:
#take a string from user
string=input("enter the string:")
word=input("enter the word:")
count=0
#find the first occurrence of a word in a string
for i in string.split():
    if i==word:
        print(count)
        break
    count+=1

enter the string:python is awesome. i love python because python is easy
enter the word:is
1

13. Find the last occurrence of a word in a string.

In [ ]:
#take a string from user
string=input("enter the string:")
word=input("enter the word:")
count=0
#find the last occurrence of a word in a string
for i in string.split():
    if i==word:
        print(count)
    count+=1

enter the string:python is awesome. i love python because python is easy
enter the word:python
0
5
7

14. Split a string into a list of words.

In [ ]:
# take input from user
string=input("enter the string:")
list=[]
#split a string into a list of words
for i in string.split():
    list.append(i)
print(list)

enter the string:python is awesome. i love python because python is easy
['python', 'is', 'awesome.', 'i', 'love', 'python', 'because', 'python', 'is', 'easy']

15. Join a list of words into a string.

In [ ]:
# use one list
list=['Python','is','a','programming','language']
#join a list of words into a string
print(" ".join(list))

Python is a programming language

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
# take a string from user
string=input("enter the string:")
#convert a string where words are separated by spaces to one where words are separated by underscores.
print(string.replace(" ","_"))

enter the string:python is fun to learn
python_is_fun_to_learn

17. Check if a string starts with a specific word or phrase.

In [ ]:
# take a string from user
string=input("enter the string:")
word=input("enter the word:")

# Check if the string starts with the word
if string.startswith(word):
    print(f"The string starts with '{word}'.")
else:
    print(f"The string does not start with '{word}'.")

enter the string:python is fun to learn
enter the word:learn
The string does not start with 'learn'.

18. Check if a string ends with a specific word or phrase.

In [ ]:
# take a string from user
string=input("enter the string:")
word=input("enter the word:")

# Check if the string ends with the specific_word or phrase
if string.endswith(word):
    print(f"The string ends with '{word}'.")
else:
    print(f"The string does not end with '{word}'.")

enter the string:python is fun to learn
enter the word:learn
The string ends with 'learn'.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
# take a string from user
string=input("enter the string:")

#convert a string to title case
print(string.title())

enter the string:hello world
Hello World

20. Find the longest word in a string.

In [ ]:
# take a string from user
string=input("enter the string:")

#find the longest word in a string
longest_word=max(string.split(),key=len)
print(longest_word)

enter the string:python really to fun and educational
educational

21. Find the shortest word in a string.

In [ ]:
# take a string from user
string=input("enter the string:")

#find the shortest word in a string
longest_word=min(string.split(),key=len)
print(longest_word)

enter the string:python programming is really to fun and educational
is

22. Reverse the order of words in a string.

In [ ]:
# take a string from user
string=input("enter the string:")

#reverse the order of words in a string
print(" ".join(string.split()[::-1]))

enter the string:python is really easy programming language
language programming easy really is python

23. Check if a string is alphanumeric.

In [ ]:
# take a string from user
string=input("enter the string:")

#check if a string is alphanumeric
if string.isalnum():
    print("string is alphanumeric")
else:
    print("string is not alphanumeric")

enter the string:9eae
string is alphanumeric

24. Extract all digits from a string.

In [ ]:
# take a string from user
string=input("enter the string:")
digit=""
#extract all digits from a string
for i in string:
    if i.isdigit():
        digit+=i
print(digit)

enter the string:su9302kuew
9302

25. Extract all alphabets from a string.

In [ ]:
# take a string from user
string=input("enter the string:")
alpha=""
#extract all alphabets from a string
for i in string:
    if i.isalpha():
        alpha+=i
print(alpha)

enter the string:suk94322kewaa
sukkewaa

26. Count the number of uppercase letters in a string.

In [ ]:
# take string from user
string=input("enter the string:")
count=0
#count the number of uppercase letters in a string
for i in string:
    if i.isupper():
        count+=1
print(count)

enter the string:pWsKIlls
3

27. Count the number of lowercase letters in a string.

In [ ]:
# take string from user
string=input("enter the string:")
count=0
#count the number of uppercase letters in a string
for i in string:
    if i.islower():
        count+=1
print(count)

enter the string:PwSkillS
5

28. Swap the case of each character in a string.

In [ ]:
# take a string from user
string=input("enter the string:")

#swap the case of each character in a string
print(string.swapcase())

enter the string:pwskills
PWSKILLS

29. Remove a specific word from a string.

In [ ]:
# take a string from user
string=input("enter the string:")
word=input("enter the word:")

#remove a specific word from a string
print(string.replace(word,""))

enter the string:python is a fun to learn
enter the word:learn
python is a fun to

30. Check if a string is a valid email address.

In [ ]:
# take a string from user
string=input("enter the string:")

#check if a string is a valid email address
if "@" in string and "." in string:
    print("string is a valid email address")
else:
    print("string is not a valid email address")

enter the string:surjakeew@gmail.com
string is a valid email address

31. Extract the username from an email address string.

In [ ]:
# take a string from user
string=input("enter the string:")

#extract the username from an email address string
print(string.split("@")[0])

enter the string:surakwe@gmail.com
surakwe

32. Extract the domain name from an email address string.

In [ ]:
# take a string from user
string=input("enter the string:")

#extract the domain name from an email address string
print(string.split("@")[1])

enter the string:surakwa@gmail.com
gmail.com

33. Replace multiple spaces in a string with a single space.

In [ ]:
# take a string from user
string=input("enter the string:")

#replace multiple spaces in a string with a single space
print(" ".join(string.split()))

enter the string:suraj    kumar
suraj kumar

34. Check if a string is a valid URL.

In [ ]:
# take string from user
string=input("enter the string:")

#check if a string is a valid URL
if "http://" in string or "https://" in string:
    print("string is a valid URL")
else:
    print("string is not a valid URL")

enter the string:https://www.youtube.com/
string is a valid URL

35. Extract the protocol (http or https) from a URL string.

In [ ]:
# take string from user
string=input("enter the string:")

#extract the protocol (http or https) from a URL string
if "http://" in string:
    print("http")
elif "https://" in string:
    print("https")
else:
    print("invalid URL")

enter the string:https://www.youtube.com/
https

36. Find the frequency of each character in a string.

In [ ]:
# take string from user
string=input("enter the string:")
freq={}
#find the frequency of each character in a string
for i in string:
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1
print(freq)

enter the string:python is fun to learn
{'p': 1, 'y': 1, 't': 2, 'h': 1, 'o': 2, 'n': 3, ' ': 4, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'l': 1, 'e': 1, 'a': 1, 'r': 1}

37. Remove all punctuation from a string.

In [ ]:
# take a string from user
text=input("enter the string:")

#remove all punctuation from a string
import string
cleaned_text = text.translate(str.maketrans("", "", string.punctuation))
print(cleaned_text)

enter the string:python. is fun to learn! .
python is fun to learn

38. Check if a string contains only digits.

In [ ]:
# take a string from user
string=input("enter the string:")

#check if a string contains only digits
if string.isdigit():
    print("string contains only digits")
else:
    print("string does not contains only digits")

enter the string:97846341
string contains only digits

39. Check if a string contains only alphabets.

In [ ]:
# take a string from user
string=input("enter the string:")

#check if a string contains only alphabets
if string.isalpha():
    print("string contains only alphabets")
else:
    print("string does not contains only alphabets")

enter the string:surajkeae
string contains only alphabets

40. Convert a string to a list of characters.

In [ ]:
# take a string from user
string=input("enter the string:")
list=[]
#convert a string to a list of characters
for i in string:
    list.append(i)
print(list)

enter the string:python
['p', 'y', 't', 'h', 'o', 'n']

41. Check if two strings are anagrams.

In [ ]:
# take two string from user
string_1=input("enter the string:")
string_2=input("enter the string:")

#check if two strings are anagrams
if sorted(string_1)==sorted(string_2):
    print("two strings are anagrams")
else:
    print("two strings are not anagrams")

enter the string:listen
enter the string:silent
two strings are anagrams

42. Encode a string using a Caesar cipher.

In [ ]:
# take a string from user
text=input("enter the string:")
shift=int(input("enter the shift:"))
encoded_text = ""

for char in text:
    # Encrypt uppercase characters
    if char.isupper():
        encoded_text += chr((ord(char) + shift - 65) % 26 + 65)
    # Encrypt lowercase characters
    elif char.islower():
        encoded_text += chr((ord(char) + shift - 97) % 26 + 97)
    # Leave non-alphabetic characters unchanged
    else:
        encoded_text += char

print(f"Encoded text: {encoded_text}")

enter the string:Hello, World!
enter the shift:3
Encoded text: Khoor, Zruog!

43. Decode a Caesar cipher encoded string.

In [ ]:
encoded_text = "Khoor, Zruog!"  # Encoded text
shift = 3
decoded_text = ""

for char in encoded_text:
    # Decrypt uppercase characters
    if char.isupper():
        decoded_text += chr((ord(char) - shift - 65) % 26 + 65)
    # Decrypt lowercase characters
    elif char.islower():
        decoded_text += chr((ord(char) - shift - 97) % 26 + 97)
    # Leave non-alphabetic characters unchanged
    else:
        decoded_text += char

print(f"Decoded text: {decoded_text}")

Decoded text: Hello, World!

44. Find the most frequent word in a string.

In [ ]:
# take a string from user
string=input("enter the string:")
freq={}
#find the most frequent word in a string
for i in string.split():
    if i in freq:
        freq[i]+=1
    else:
        freq[i]=1

print(max(freq, key=freq.get))

enter the string:python programming is awesome. python is easy to learn
python

45. Find all unique words in a string.

In [ ]:
# take a string from user
string=input("enter the string:")
unique_words=set(string.split())
print(unique_words)

enter the string:python is awesome. python is fun to learn
{'awesome.', 'to', 'is', 'fun', 'python', 'learn'}

46. Count the number of syllables in a string.

In [ ]:
# take a string from user
string=input("enter the string:")
count=0
#count the number of syllables in a string
# syllables means contiguous vowels
for i in string:
    if i in "aeiouAEIOU":
        count+=1
print(count)

enter the string:suraj
2

47. Check if a string contains any special characters.

In [ ]:
# take a string from user
string=input("enter the string:")

#check if a string contains any special characters
if not string.isalnum():
    print("string contains special characters")
else:
    print("string does not contains special characters")

enter the string:$@%suse
string contains special characters

48. Remove the nth word from a string.

In [ ]:
# take a string from user
string=input("enter the string:")
n=int(input("enter the nth word:"))
#remove the nth word from a string
print(" ".join(string.split()[:n-1]+string.split()[n:]))

enter the string:python is fun to learn'
enter the nth word:3
python is to learn'

49. Insert a word at the nth position in a string.

In [ ]:
# take a string from user
string=input("enter the string:")
word=input("enter the word:")
n=int(input("enter the nth position:"))
#insert a word at the nth position in a string
print(" ".join(string.split()[:n-1]+[word]+string.split()[n-1:]))

enter the string:python is fun to learn
enter the word:easy
enter the nth position:3
python is easy fun to learn

50. Convert a CSV string to a list of lists.

In [ ]:
# take a string from user
string=input("enter the string:")
#convert a CSV string to a list of lists
print(string.split("\n"))

enter the string:SURAJ KUMAR
['SURAJ KUMAR']

## **List Based Practice Problem :**

1. Create a list with integers from 1 to 10.

In [ ]:
List=[]
for i in range(1,11):
    List.append(i)
print(List)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [ ]:
# take a list
list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count=0
#using for loop to iterate list and count increase
for i in List:
    count+=1
print(count)

10

3. Append an element to the end of a list.

In [ ]:
list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# append an element to the end of a list
list.append(11)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

4. Insert an element at a specific index in a list.

In [ ]:
# Take a number to insert in list
list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
number=int(input("enter the number:"))
index=int(input("enter the index:"))
# Insert an element at a specific index in a list
list.insert(index,number)
print(list)

enter the number:4
enter the index:2
[1, 2, 4, 3, 4, 5, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [ ]:
list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Remove an element from a list by its value
list.remove(5)
print(list)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [ ]:
# take a number to remove element in list
list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
index=int(input("enter the index:"))
# Remove an element from a list by its index
list.pop(index)
print(list)

enter the index:4
[1, 2, 3, 4, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [ ]:
# take a number to check element in list
list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
number=int(input("enter the number:"))
# Check if an element exists in a list
if number in list:
    print("element exists in a list")
else:
    print("element does not exists in a list")

enter the number:6
element exists in a list

8. Find the index of the first occurrence of an element in a list.

In [ ]:
# take a number to find index of element in list
list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
number=int(input("enter the number:"))
# Find the index of the first occurrence of an element in a list
if number in list:
    print(list.index(number))

enter the number:3
2

9. Count the occurrences of an element in a list.

In [ ]:
# take a number to count occurrences of element in list
list=[1, 2, 3, 4, 3, 6, 3, 8, 9, 10]
number=int(input("enter the number:"))
# Count the occurrences of an element in a list
print(list.count(number))

enter the number:3
3

10. Reverse the order of elements in a list.

In [ ]:
list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Reverse the order of elements in a list
list.reverse()
print(list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [ ]:
list=[1,6,4,3,5,7,2]
# Sort a list in ascending order
list.sort()
print(list)

[1, 2, 3, 4, 5, 6, 7]

12. Sort a list in descending order.

In [ ]:
list=[1,6,4,3,5,7,2]
# Sort a list in descending order
list.sort(reverse=True)
print(list)

[7, 6, 5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [ ]:
list=[]
# Create a list of even numbers from 1 to 20
for i in range(1,21):
    if i%2==0:
        list.append(i)
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [ ]:
list=[]
# Create a list of odd numbers from 1 to 20
for i in range(1,21):
    if i%2!=0:
        list.append(i)
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [ ]:
List=[]
# take a list
for i in range(1,11):
    List.append(i)
# Find the sum of all elements in a list
print(sum(List))

55

16. Find the maximum value in a list.

In [ ]:
list=[1,6,4,3,5,7,2]
# Find the maximum value in a list
print(max(list))

7

17. Find the minimum value in a list.

In [ ]:
list=[1,6,4,3,5,7,2]
# Find the maximum value in a list
print(min(list))

1

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
list=[]
# Create a list of squares of numbers from 1 to 10
for i in range(1,11):
    list.append(i**2)
print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [ ]:
# take n random numbers from user
import random
n=int(input("enter the number of random numbers:"))
list=[]
# Create a list of random numbers
for i in range(n):
    list.append(random.randint(1,100))
print(list)

enter the number of random numbers:6
[35, 97, 83, 83, 57, 2]

20. Remove duplicates from a list.

In [ ]:
from posixpath import lexists
list=[1,6,4,3,5,7,2,1,6,4,3,5,7,2]
# Remove duplicates from a list
for i in list:
  for j in list:
    if i==j:
      list.remove(j)

print(list)

[6, 7, 6, 7]

21. Find the common elements between two lists.

In [ ]:
list_1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_2=[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
# Find the common elements between two lists
for i in list_1:
  for j in list_2:
    if i==j:
      print(i)

2
4
6
8
10

22. Find the difference between two lists.

In [ ]:
list_1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_2=[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
# Find the difference between two lists
for i in list_1:
  for j in list_2:
    if i==j:
      list_1.remove(i)
      list_2.remove(j)
print(list_1)
print(list_2)

[1, 3, 5, 7, 9]
[12, 14, 16, 18, 20]

23. Merge two lists.

In [ ]:
list_1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_2=[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
# Merge two lists
print(list_1+list_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

24. Multiply all elements in a list by 2.

In [ ]:
list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Multiply all elements in a list by 2
for i in range(len(list)):
  list[i]*=2
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

25. Filter out all even numbers from a list.

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10]
# Filter out all even numbers from a list
list_1=[]
for i in list:
  if i%2==0:
    list_1.append(i)
    list.remove(i)
print(list)
print(list_1)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

26. Convert a list of strings to a list of integers.

In [ ]:
list=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
# Convert a list of strings to a list of integers
for i in range(len(list)):
  list[i]=int(list[i])
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

27. Convert a list of integers to a list of strings.

In [ ]:
list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Convert a list of strings to a list of integers
for i in range(len(list)):
  list[i]=str(list[i])
print(list)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

28. Flatten a nested list.

In [ ]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]

# Flatten the list
flattened_list = [item for sublist in nested_list for item in sublist]

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
list=[]
# Create a list of the first 10 Fibonacci numbers
list.append(0)
list.append(1)
for i in range(2,10):
  list.append(list[i-1]+list[i-2])
print(list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [ ]:
list=[1,6,4,3,5,7,2]
# Check if a list is sorted
if list==sorted(list):
  print("list is sorted")
else:
  print("list is not sorted")

list is not sorted

31. Rotate a list to the left by `n` positions.

In [ ]:
list=[1,6,4,3,5,7,2]
# Rotate a list to the left by n positions
n=int(input("enter the number of positions:"))
for i in range(n):
  list.append(list.pop(0))
print(list)

enter the number of positions:3
[3, 5, 7, 2, 1, 6, 4]

32. Rotate a list to the right by `n` positions.

In [ ]:
list=[1,6,4,3,5,7,2]
# Rotate a list to the right by n positions
n=int(input("enter the number of positions:"))
for i in range(n):
  list.insert(0,list.pop())
print(list)

enter the number of positions:3
[5, 7, 2, 1, 6, 4, 3]

33. Create a list of prime numbers up to 50.

In [ ]:
list=[]
# Create a list of prime numbers up to 50
for i in range(2,51):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    list.append(i)
print(list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [ ]:
list=[1,6,4,3,5,7,2,1,6,4,3,5,7,2]
# Split a list into chunks of size n
n=int(input("enter the number of chunks:"))
for i in range(0,len(list),n):
  print(list[i:i+n])

enter the number of chunks:3
[1, 6, 4]
[3, 5, 7]
[2, 1, 6]
[4, 3, 5]
[7, 2]

35. Find the second largest number in a list.

In [ ]:
list=[1,6,4,3,5,7,2]
# Find the second largest number in a list
list.sort()
print(list[-2])

6

36. Replace every element in a list with its square.

In [ ]:
list=[1,6,4,3,5,7,2]
# Replace every element in a list with its square
for i in range(len(list)):
  list[i]=list[i]**2
print(list)

[1, 36, 16, 9, 25, 49, 4]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [ ]:
list=[1,6,4,3,5,7,2]
# Convert a list to a dictionary where list elements become keys and their indices become values
dict={}
for i in range(len(list)):
  dict[list[i]]=i
print(dict)

{1: 0, 6: 1, 4: 2, 3: 3, 5: 4, 7: 5, 2: 6}

38. Shuffle the elements of a list randomly.

In [ ]:
list=[1,6,4,3,5,7,2]
# Shuffle the elements of a list randomly
import random
random.shuffle(list)
print(list)

[7, 2, 4, 6, 3, 1, 5]

39. Create a list of the first 10 factorial numbers.

In [ ]:
list=[]
# Create a list of the first 10 factorial numbers
for i in range(1,11):
  fact=1
  for j in range(1,i+1):
    fact*=j
  list.append(fact)
print(list)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [ ]:
list_1=[1,6,4,3,5,7,2]
list_2=[2,4,6,8,10,12,14,16,18,20]
# Check if two lists have at least one element in common
for i in list_1:
  for j in list_2:
    if i==j:
      print("two lists have at least one element in common",i)
      break

two lists have at least one element in common 6
two lists have at least one element in common 4
two lists have at least one element in common 2

41. Remove all elements from a list.

In [ ]:
list=[1,6,4,3,5,7,2]
# Remove all elements from a list
list.clear()
print(list)

[]

42. Replace negative numbers in a list with 0.

In [ ]:
list=[1,6,-4,3,5,-7,2]
# Replace negative numbers in a list with 0
for i in range(len(list)):
  if list[i]<0:
    list[i]=0
print(list)

[1, 6, 0, 3, 5, 0, 2]

43. Convert a string into a list of words.

In [ ]:
# take a string from user
string=input("enter the string:")
# Convert a string into a list of words
list=string.split()
print(list)

enter the string:python is fun to learn
['python', 'is', 'fun', 'to', 'learn']

44. Convert a list of words into a string.

In [ ]:
list=['python', 'is', 'fun', 'to', 'learn']
# Convert a list of words into a string
string=' '.join(list)
print(string)

python is fun to learn

45. Create a list of the first `n` powers of 2.

In [ ]:
list=[]
# Create a list of the first n powers of 2
n=int(input("enter the number of powers:"))
for i in range(n):
  list.append(2**i)
print(list)

enter the number of powers:6
[1, 2, 4, 8, 16, 32]

46. Find the longest string in a list of strings.

In [ ]:
list=['python', 'is', 'fun', 'to', 'learn']
# Find the longest string in a list of strings
longest_string=max(list,key=len)
print(longest_string)

python

47. Find the shortest string in a list of strings.

In [ ]:
list=['python', 'is', 'fun', 'to', 'learn']
# Find the shortest string in a list of strings
longest_string=min(list,key=len)
print(longest_string)

is

48. Create a list of the first `n` triangular numbers.

In [ ]:
list=[]
# Create a list of the first n triangular numbers
n=int(input("enter the number of triangular numbers:"))
for i in range(1,n+1):
  list.append(i*(i+1)//2)
print(list)

enter the number of triangular numbers:6
[1, 3, 6, 10, 15, 21]

49. Check if a list contains another list as a subsequence.

In [ ]:
main_list = [1, 2, 3, 4, 5, 6]
sub_list = [3, 4, 5]

sub_len = len(sub_list)
found = False

# Loop through the main list, checking if any slice matches the sub_list
for i in range(len(main_list) - sub_len + 1):
    if main_list[i:i + sub_len] == sub_list:
        found = True
        break

if found:
    print(f"{sub_list} is a subsequence of {main_list}.")
else:
    print(f"{sub_list} is not a subsequence of {main_list}.")

[3, 4, 5] is a subsequence of [1, 2, 3, 4, 5, 6].

50. Swap two elements in a list by their indices.

In [ ]:
list=[1,6,3,5,4,7,2]
# Swap two elements in a list by their indices
a=int(input("enter the first index:"))
b=int(input("enter the second index:"))
list[a],list[b]=list[b],list[a]
print(list)

enter the first index:4
enter the second index:3
[1, 6, 3, 4, 5, 7, 2]


**`Tuple Based Practice Problem :`**

1. Create a tuple with integers from 1 to 5.

In [ ]:
tuple=()
# Create a tuple with integers from 1 to 5
for i in range(1,6):
  tuple+=(i,)
print(tuple)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [ ]:
tuple=(1,2,3,4,5)
# Access the third element of a tuple
print(tuple[2])

3

3. Find the length of a tuple without using the `len()` function.

In [ ]:
tuple=(1,2,3,4,5)
# Find the length of a tuple without using the len() function
count=0
for i in tuple:
  count+=1
print(count)

5

4. Count the occurrences of an element in a tuple.

In [ ]:
tuple=(1,2,3,4,5,1,2,3,4,5)
# Count the occurrences of an element in a tuple
element=int(input("enter the element:"))
count=0
for i in tuple:
  if i==element:
    count+=1
print(count)

enter the element:2
2

5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
tuple=(1,2,3,4,5,1,2,3,4,5)
# Find the index of the first occurrence of an element in a tuple
element=int(input("enter the element:"))
for i in range(len(tuple)):
  if tuple[i]==element:
    print(i)
    break

enter the element:3
2

6. Check if an element exists in a tuple.

In [ ]:
tuple=(1,2,3,4,5)
# Check if an element exists in a tuple
element=int(input("enter the element:"))
if element in tuple:
  print("element exists in a tuple")
else:
  print("element does not exist in a tuple")

enter the element:6
element does not exist in a tuple

7. Convert a tuple to a list.

In [ ]:
tuple=(1,2,3,4,5)
# Convert a tuple to a list
my_list=[]
for i in tuple:
  my_list.append(i)
print(my_list)

[1, 2, 3, 4, 5]

8. Convert a list to a tuple.

In [ ]:
list=[1,2,3,4,5]
# Convert a list to a tuple
my_tuple =()
for i in list:
  my_tuple+=(i,)
print(my_tuple)

(1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [ ]:
tuple=(1,2,3,4,5)
# Unpack the elements of a tuple into variables
a,b,c,d,e=tuple
print(a,b,c,d,e)

1 2 3 4 5

10. Create a tuple of even numbers from 1 to 10.

In [ ]:
tuple=()
# Create a tuple of even numbers from 1 to 10
for i in range(1,11):
  if i%2==0:
    tuple+=(i,)
print(tuple)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
tuple=()
# Create a tuple of odd numbers from 1 to 10
for i in range(1,11):
  if i%2!=0:
    tuple+=(i,)
print(tuple)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [ ]:
tuple_1=(1,2,3,4,5)
tuple_2=(6,7,8,9,10)
# Concatenate two tuples
tuple_3=tuple_1+tuple
print(tuple_3)

(1, 2, 3, 4, 5, 1, 3, 5, 7, 9)

13. Repeat a tuple three times.

In [ ]:
tuple=(1,2,3,4,5)
# Repeat a tuple three times
tuple_1=tuple*3
print(tuple_1)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [ ]:
tuple=()
# Check if a tuple is empty
if len(tuple)==0:
  print("tuple is empty")
else:
  print("tuple is not empty")

tuple is empty

15. Create a nested tuple.

In [ ]:
tuple=((1,2,3),(4,5,6),(7,8,9))
# Create a nested tuple
print(tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

16. Access the first element of a nested tuple.

In [ ]:
tuple=((1,2,3),(4,5,6),(7,8,9))
# Access the first element of a nested tuple
print(tuple[0][0])

1

17. Create a tuple with a single element.

In [ ]:
tuple=()
# Create a tuple with a single element
tuple+=(1,)
print(tuple)

(1,)

18. Compare two tuples.

In [ ]:
tuple_1=(1,2,3,4,5)
tuple_2=(1,2,3,4,5)
# Compare two tuples
if tuple_1==tuple_2:
  print("two tuples are equal")
else:
  print("two tuples are not equal")

two tuples are equal

19. Delete a tuple.

In [ ]:
tuple=(1,2,3,4,5)
# Delete a tuple
del tuple

20. Slice a tuple.

In [ ]:
tuple=(1,2,3,4,5)
# Slice a tuple
print(tuple[1:4])

(2, 3, 4)

21. Find the maximum value in a tuple.

In [ ]:
tuple=(1,2,3,4,5)
# Find the maximum value in a tuple
print(max(tuple))

5

22. Find the minimum value in a tuple.

In [ ]:
tuple=(1,2,3,4,5)
# Find the minimum value in a tuple
print(min(tuple))

1

23. Convert a string to a tuple of characters.

In [ ]:
tuple=()
# Convert a string to a tuple of characters
string=input("enter the string:")
for i in string:
  tuple+=(i,)
print(tuple)

enter the string:suraj
('s', 'u', 'r', 'a', 'j')

24. Convert a tuple of characters to a string.

In [ ]:
tuple=('s', 'u', 'r', 'a', 'j')
# Convert a tuple of characters to a string
string=''
for i in tuple:
  string+=i
print(string)

suraj

25. Create a tuple from multiple data types.

In [ ]:
# Creating a tuple with multiple data types
my_tuple = (1, "Hello", 3.14, True)

print(my_tuple)

(1, 'Hello', 3.14, True)

26. Check if two tuples are identical.

In [ ]:
tuple_1=(1,2,3,4,5)
tuple_2=(1,2,3,4,5)
# Check if two tuples are identical
print(tuple_1==tuple_2)

True

27. Sort the elements of a tuple.

In [ ]:
tuple=(1,5,2,3,4,6)
# Sort the elements of a tuple
print(sorted(tuple))

[1, 2, 3, 4, 5, 6]

28. Convert a tuple of integers to a tuple of strings.

In [ ]:
tuple=(1,2,3,4,5)
# Convert a tuple of integers to a tuple of strings
tuple_1=()
for i in tuple:
  tuple_1+=(str(i),)
print(tuple_1)

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [ ]:
tuple=('1', '2', '3', '4', '5')
# Convert a tuple of strings to a tuple of integers
tuple_1=()
for i in tuple:
  tuple_1+=(int(i),)

print(tuple_1 )

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [ ]:
tuple_1=(1,2,3,4,5)
tuple_2=(6,7,8,9,10)
# Merge two tuples
tuple_3=tuple_1+tuple_2
print(tuple_3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

31. Flatten a nested tuple.

In [ ]:
tuple=((1,2,3),(4,5,6),(7,8,9))
# Flatten a nested tuple
tuple_1=()
for i in tuple:
  for j in i:
    tuple_1+=(j,)
print(tuple_1)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

32. Create a tuple of the first 5 prime numbers.

In [ ]:
tuple=()
# Create a tuple of the first 5 prime numbers
count=0
num=2
while count<5:
  for i in range(2,num):
    if num%i==0:
      break
  else:
    tuple+=(num,)
    count+=1
  num+=1
print(tuple)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [ ]:
tuple=(1,2,3,2,1)
# Check if a tuple is a palindrome
if tuple==tuple[::-1]:
  print("tuple is a palindrome")
else:
  print("tuple is not a palindrome")

tuple is a palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
tuple=()
# Create a tuple of squares of numbers from 1 to 5
for i in range(1,6):
  tuple+=(i**2,)
print(tuple)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [ ]:
tuple=()
# Filter out all even numbers from a tuple
for i in range(1,11):
  if i%2==0:
    tuple+=(i,)
print(tuple)

(2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [ ]:
tuple=(1,2,3,4,5)
# Multiply all elements in a tuple by 2
tuple_1=()
for i in tuple:
  tuple_1+=(i*2,)
print(tuple_1)

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [ ]:
tuple=()
# Create a tuple of random numbers
import random
for i in range(10):
  tuple+=(random.randint(1,100),)
print(tuple)

(55, 19, 36, 28, 40, 53, 31, 82, 41, 2)

38. Check if a tuple is sorted.

In [ ]:
# Define a tuple
my_tuple = (3, 1, 4, 2, 5)

# Convert the tuple to a list, sort it, and convert it back to a tuple
tuple_1=sorted(my_tuple)
# Check if the original tuple is equal to the sorted tuple
if my_tuple == tuple_1:
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

The tuple is not sorted.

39. Rotate a tuple to the left by `n` positions.

In [ ]:
tuple=(1,2,3,4,5)
# Rotate a tuple to the left by n positions
n=int(input("enter the number of positions to rotate:"))
tuple_1=tuple[n:]+tuple[:n]
print(tuple_1)

enter the number of positions to rotate:3
(4, 5, 1, 2, 3)

40. Rotate a tuple to the right by `n` positions.

In [ ]:
tuple=(1,2,3,4,5)
# Rotate a tuple to the right by n positions
n=int(input("enter the number of positions to rotate:"))
tuple_1=tuple[-n:]+tuple[:-n]
print(tuple_1)

enter the number of positions to rotate:3
(3, 4, 5, 1, 2)

41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
tuple=()
# Create a tuple of the first 5 Fibonacci numbers
a,b=0,1
for i in range(5):
  tuple+=(a,)
  a,b=b,a+b
print(tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [ ]:
# Get user input
user_input = input("Enter values separated by spaces: ")
my_tuple=()
# Split the input string into a list
input_list = user_input.split()

# Convert the list to a tuple
for i in input_list:
  my_tuple+=(int(i),)
# Print the tuple
print(my_tuple)

Enter values separated by spaces: 1 2 3 4
(1, 2, 3, 4)

43. Swap two elements in a tuple.

In [ ]:
my_tuple=(1,2,3,4,5)
# Swap two elements in a tuple
a=int(input("enter the first index:"))
b=int(input("enter the second index:"))
my_tuple=my_tuple[:a]+(my_tuple[b],)+my_tuple[a+1:b]+(my_tuple[a],)+my_tuple[b+1:]
print(my_tuple)

enter the first index:3
enter the second index:4
(1, 2, 3, 5, 4)

44. Reverse the elements of a tuple.

In [ ]:
my_tuple=(1,2,3,4,5)
# Reverse the elements of a tuple
print(my_tuple[::-1])

(5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [ ]:
tuple=()
# Create a tuple of the first n powers of 2
n=int(input("enter the number of powers of 2:"))
for i in range(n):
  tuple+=(2**i,)
print(tuple)

enter the number of powers of 2:6
(1, 2, 4, 8, 16, 32)

46. Find the longest string in a tuple of strings.

In [ ]:
my_tuple=('hello','world','python','programming')
# Find the longest string in a tuple of strings
longest_string=max(my_tuple,key=len)
print(longest_string)

programming

47. Find the shortest string in a tuple of strings.

In [ ]:
my_tuple=('hello','world','python','programming')
# Find the shortest string in a tuple of strings
shortest_string=min(my_tuple,key=len)
print(shortest_string)

hello

48. Create a tuple of the first `n` triangular numbers.

In [ ]:
tuple=()
# Create a tuple of the first n triangular numbers
n=int(input("enter the number of triangular numbers:"))
for i in range(1,n+1):
  tuple+=(i*(i+1)//2,)
print(tuple)

enter the number of triangular numbers:5
(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
# Define the main tuple and the subtuple
main_tuple = (1, 2, 3, 4, 5, 6)
sub_tuple = (3, 4, 5)

# Check if sub_tuple is a subsequence of main_tuple
sub_len = len(sub_tuple)
found = False

# Loop through the main tuple and compare slices
for i in range(len(main_tuple) - sub_len + 1):
    if main_tuple[i:i + sub_len] == sub_tuple:
        found = True
        break

if found:
    print(f"{sub_tuple} is a subsequence of {main_tuple}.")
else:
    print(f"{sub_tuple} is not a subsequence of {main_tuple}.")

(3, 4, 5) is a subsequence of (1, 2, 3, 4, 5, 6).

50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
my_tuple=()
# Create a tuple of alternating 1s and 0s of length n
n=int(input("enter the length of the tuple:"))
for i in range(n):
  if i%2==0:
    my_tuple+=(1,)
  else:
    my_tuple+=(0,)
print(my_tuple)

enter the length of the tuple:10
(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

**Set Based Practice Problem :**

1. Create a set with integers from 1 to 5.

In [ ]:
# Create a set with integers from 1 to 5
my_set = {1, 2, 3, 4, 5}

print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [44]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

3. Remove an element from a set.

In [45]:
my_set={'banana', 'cherry', 'orange', 'apple'}
# Remove an element from a set
my_set.remove('banana')
print(my_set)

{'apple', 'cherry', 'orange'}

4. Check if an element exists in a set.

In [47]:
my_set={1,2,3,4,5}
n=int(input("enter the number:"))
# Check if an element exists in a set
if n in my_set:
  print("element exists")
else:
  print("element does not exist")

enter the number:4
element exists

5. Find the length of a set without using the `len()` function.

In [48]:
my_set={1,2,3,4,5}
# Find the length of a set without using the len() function
count=0
for i in my_set:
  count+=1
print(count)

5

6. Clear all elements from a set.

In [50]:
my_Set={1,2,3,4,5}
# Clear all elements from a set
my_Set.clear()
print(my_Set)

set()

7. Create a set of even numbers from 1 to 10.

In [53]:
# Create a set of even numbers from 1 to 10 using set comprehension
even_set = {num for num in range(1, 11) if num % 2 == 0}

print(even_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [54]:
# Create a set of odd numbers from 1 to 10 using set comprehension
odd_set = {num for num in range(1, 11) if num % 2 != 0}

print(odd_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [55]:
my_set_1={1,2,3,4,5}
my_set_2={6,7,8,9,10}
# Find the union of two sets
print(my_set_1.union(my_set_2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [56]:
my_set_1={1,2,3,4,5}
my_set_2={6,7,8,9,10}
# Find the intersection of two sets
print(my_set_1.intersection(my_set_2))

set()

11. Find the difference between two sets.

In [57]:
my_set_1={1,2,3,4,5}
my_set_2={6,7,8,9,10}
# Find the difference between two sets
print(my_set_1.difference(my_set_2))

{1, 2, 3, 4, 5}

12. Check if a set is a subset of another set.

In [58]:
my_set={1,2,3,4,5,6,7,8,9,10}
sub_set={1,2,3,4,5}
# Check if a set is a subset of another set
print(sub_set.issubset(my_set))

True

13. Check if a set is a superset of another set.

In [59]:
sup_set={1,2,3,4,5,6,7,8,9,10}
my_set={1,2,3,4,5}
# Check if a set is a superset of another set
print(sup_set.issuperset(my_set))

True

14. Create a set from a list.

In [3]:
my_list = [1 ,2 ,3, 3, 4, 5, 5]

my_set = set()
# Using for loop
for num in my_list:
    # Adding num to my_set
    my_set.add(num)
print(my_set)

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [61]:
my_set={1,2,3,4,5}
# Create a set from a list
my_list=list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [74]:
my_set={1,2,3,4,5}
# Remove a random element from a set
import random
random_element=random.choice(list(my_set))
my_set.remove(random_element)
print(my_set)

{1, 2, 4, 5}

17. Pop an element from a set.

In [75]:
my_set={1,2,3,4,5}
# Pop an element from a set
popped_element=my_set.pop()
print(popped_element)

1

18. Check if two sets have no elements in common.

In [76]:
set_1={1,2,3,4,5}
set_2={6,7,8,9,10}
# Check if two sets have no elements in common
if set_1.isdisjoint(set_2):
  print("two sets have no elements in common")
else:
  print("two sets have elements in common")

two sets have no elements in common

19. Find the symmetric difference between two sets.

In [77]:
set_1={1,2,3,4,5}
set_2={6,7,8,9,10}
# Find the symmetric difference between two sets
print(set_1.symmetric_difference(set_2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

20. Update a set with elements from another set.

In [78]:
set_1={1,2,3,4,5}
set_2={6,7,8,9,10}
# Update a set with elements from another set
set_1.update(set_2)
print(set_1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

21. Create a set of the first 5 prime numbers.

In [1]:
def is_prime(n):
    """Check if a number is a prime number."""
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

# Generate the first 5 prime numbers
prime_set = set()
num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1

print(prime_set)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [80]:
set_1={1,2,3,4,5}
set_2={6,7,8,9,10}
# Check if two sets are identical
if set_1==set_2:
  print("two sets are identical")
else:
  print("two sets are not identical")

two sets are not identical

23. Create a frozen set.

In [82]:
mylist = ['apple', 'banana', 'cherry']
x = frozenset(mylist)
print(x)

frozenset({'banana', 'cherry', 'apple'})

24. Check if a set is disjoint with another set.

In [83]:
set_1={1,2,3,4,5}
set_2={6,7,8,9,10}
# Check if a set is disjoint with another set
if set_1.isdisjoint(set_2):
  print("two sets are disjoint")
else:
  print("two sets are not disjoint")

two sets are disjoint

25. Create a set of squares of numbers from 1 to 5.

In [89]:
# Create a set of squares of numbers from 1 to 5
squares_set = {x ** 2 for x in range(1, 6)}

print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [90]:
my_set={1,2,3,4,5,6,7,8,9,10}
# Filter out all even numbers from a set
even_set={x for x in my_set if x%2==0}
print(even_set)

{2, 4, 6, 8, 10}

27. Multiply all elements in a set by 2.

In [92]:
#create a set of multiple of 2 in every element
my_set={1,2,3,4,5}
# Multiply all elements in a set by 2
mul_set={x*2 for x in my_set}
print(mul_set)

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [93]:
import random
# Create a set of random numbers
random_set={random.randint(1,100) for x in range(10)}
print(random_set)

{36, 69, 100, 74, 77, 80, 48, 82, 83, 63}

29. Check if a set is empty.

In [94]:
my_set={1,2,3,4,5}
# Check if a set is empty
if len(my_set)==0:
  print("set is empty")
else:
  print("set is not empty")

set is not empty

30. Create a nested set (hint: use frozenset).

In [97]:
my_set={frozenset({1,2,3}),frozenset({4,5,6}),frozenset({7,8,9})}
print(my_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

31. Remove an element from a set using the discard method.

In [98]:
my_set={1,2,3,4,5}
# Remove an element from a set using the discard method
my_set.discard(3)
print(my_set)

{1, 2, 4, 5}

32. Compare two sets.

In [99]:
set_1={1,2,3,4,5}
set_2={6,7,8,9,10}
# Compare two sets
if set_1==set_2:
  print("two sets are identical")
else:
  print("two sets are not identical")

two sets are not identical

33. Create a set from a string.

In [103]:
# Define a string
my_string = "hello"

# Create a set from the string
my_set = {x for x in my_string}

print(my_set)

{'o', 'l', 'h', 'e'}

34. Convert a set of strings to a set of integers.

In [105]:
my_set={"1","2","3","4","5"}
# Convert a set of strings to a set of integers
my_set={int(x) for x in my_set}
print(my_set)

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [106]:
my_set={1,2,3,4,5}
# Convert a set of integers to a set of strings
my_set={str(x) for x in my_set}
print(my_set)

{'4', '1', '5', '3', '2'}

36. Create a set from a tuple.

In [108]:
my_tuple=(1,2,3,4,5)
# Create a set from a tuple
my_set={x for x in my_tuple}
print(my_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [110]:
my_set={1,2,3,4,5}
# Convert a set to a tuple
my_tuple={i for i in my_set}
print(my_tuple)

{1, 2, 3, 4, 5}

38. Find the maximum value in a set.

In [111]:
my_set={1,2,3,4,5}
# Find the maximum value in a set
print(max(my_set))

5

39. Find the minimum value in a set.

In [112]:
my_set={1,2,3,4,5}
# Find the minimum value in a set
print(min(my_set))

1

40. Create a set from user input.

In [2]:
my_set=set()
# Create a set from user input
for i in range(5):
  n=int(input("enter the number:"))
  my_set.add(n)
print(my_set)

enter the number: 5
enter the number: 4
enter the number: 3
enter the number: 2
enter the number: 1

{1, 2, 3, 4, 5}

41. Check if the intersection of two sets is empty.

In [115]:
set_1={1,2,3,4,5}
set_2={6,7,8,9,10}
# Check if the intersection of two sets is empty
if set_1.isdisjoint(set_2):
  print("intersection of two sets is empty")
else:
  print("intersection of two sets is not empty")

intersection of two sets is empty

42. Create a set of the first 5 Fibonacci numbers.

In [118]:
# Generate the first 5 Fibonacci numbers
a, b = 0, 1
fibonacci_set = {a, b}

while len(fibonacci_set) < 5:
    a, b = b, a + b
    fibonacci_set.add(a)

print(fibonacci_set)

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [123]:
my_set={1,2,3,4,5,1,2,3,4,5}
# Remove duplicates from a list using sets
my_list=list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [125]:
set_1={1,2,3,4,5}
set_2={6,7,8,9,10}
# Check if two sets have the same elements, regardless of their count
count=0
for i in set_1:
  for j in set_2:
    if i==j:
      count+=1
print(f"two sets have same {count} elements")

two sets have same 0 elements

45. Create a set of the first `n` powers of 2.

In [128]:
x=int(input("enter the number:"))
# Create a set of the first n powers of 2
my_set={2**n for n in range(x)}
print(my_set)

enter the number:5
{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [129]:
my_list=[1,2,3,4,5]
my_set={1,2,3,4,5,6,7,8,9,10}
# Find the common elements between a set and a list
common_elements=my_set.intersection(my_list)
print(common_elements)

{1, 2, 3, 4, 5}

47. Create a set of the first `n` triangular numbers.

In [130]:
x=int(input("enter the number:"))
# Create a set of the first n triangular numbers
triangular_set={n*(n+1)//2 for n in range(1,x+1)}
print(triangular_set)

enter the number:5
{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [131]:
my_set={1,2,3,4,5,6,7,8,9,10}
sub_set={1,2,3,4,5}
# Check if a set contains another set as a subset
if sub_set.issubset(my_set):
  print("a set contains another set as a subset")

a set contains another set as a subset

49. Create a set of alternating 1s and 0s of length `n`.

In [132]:
n=int(input("enter the number:"))
# Create a set of alternating 1s and 0s of length n
alternating_set={i%2 for i in range(n)}
print(alternating_set)

enter the number:10
{0, 1}

50. Merge multiple sets into one.

In [133]:
set_1={1,2,3,4,5}
set_2={6,7,8,9,10}
set_3={11,12,13,14,15}
# Merge multiple sets into one
merged_set=set_1.union(set_2,set_3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}