1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [1]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [2]:
list=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in list:
  sum=sum+i
print(sum)

55

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [3]:
# take a string from user
string=input("Enter a string: ")
# print the string in reverse order
for i in range(len(string)-1,-1,-1):
  print(string[i])

Enter a string: suraj
j
a
r
u
s

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [4]:
n=int(input("Enter a number: "))
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

Enter a number: 5
120

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [5]:
n=int(input("Enter a number: "))
for i in range(1,11):
  print(n,"*",i,"=",n*i)

Enter a number: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [6]:
list=[1,3,5,6,5,8,9,10]
even=0
odd=0
for i in list:
  if i%2==0:
    even=even+1
  else:
    odd=odd+1
print("Even numbers: ",even)
print("Odd numbers: ",odd)

Even numbers:  3
Odd numbers:  5

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [7]:
for i in range(1,6):
  print(i**2)

1
4
9
16
25

8. Create a program to find the length of a string without using the `len()` function.

In [8]:
# take a string from user
string=input("Enter a string: ")
# find the length of the string
count=0
for i in string:
  count=count+1
print(count)

Enter a string: SURAJ
5

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [9]:
list=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in list:
  sum=sum+i
avg=sum/len(list)
print(avg)

5.5

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [10]:
n=int(input("enter a number: "))
a=0
b=1
print(a)
print(b)
for i in range(2,n):
  c=a+b
  print(c)
  a=b
  b=c

enter a number: 6
0
1
1
2
3
5

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [16]:
list=[1,2,3,4,5,6,2,8,9,10]
for i in list:
  if list.count(i)>1:
    print("Duplicate found")
    break
else:
  print("No duplicate found")

Duplicate found

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [17]:
for i in range(2,50):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [18]:
# Take string from user
string=input("Enter a string: ")
count=0
for i in string:
  if i in "aeiouAEIOU":
    count=count+1
print(count)

Enter a string: suraj
2

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [19]:
list=[[1,2,3],[4,5,6],[7,8,9]]
max=list[0][0]
for i in list:
  for j in i:
    if j>max:
      max=j
print(max)

9

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [20]:
list=[1,2,3,4,5,6,2,8,9,10]
n=int(input("Enter a number: "))
for i in list:
  if i==n:
    list.remove(i)
print(list)

Enter a number: 2
[1, 3, 4, 5, 6, 8, 9, 10]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [3]:
for i in range(1,6):
  for j in range(1,11):
    print(i,"*",j,"=",i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [4]:
list=[74,75,76,77,78,79,80]
for i in list:
  print((i-32)*5/9)

23.333333333333332
23.88888888888889
24.444444444444443
25.0
25.555555555555557
26.11111111111111
26.666666666666668

18. Create a program to print the common elements from two lists using a `for` loop.

In [5]:
list_1=[1,2,5,6,7,4]
list_2=[3,4,5,6,8,9]
for i in list_1:
  for j in list_2:
    if i==j:
      print(i)

5
6
4

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [6]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [7]:
n=int(input("Enter a number: "))
m=int(input("Enter a number: "))
for i in range(1,min(n,m)+1):
  if n%i==0 and m%i==0:
    gcd=i
print(gcd)

Enter a number: 6
Enter a number: 9
3

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [2]:
sum=0
list=[1,2,3,4,5,6,7,8,9,10]
[sum:=sum+i for i in list]
print(sum)

55

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [3]:
n=int(input("Enter a number: "))
list=[i for i in range(2,n+1) if n%i==0]
print(list)

Enter a number: 20
[2, 4, 5, 10, 20]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [4]:
list_1=[1,2,3,4,5,6,2,8,9,10]
list_2=[i for i in list_1 if list_1.count(i)==1]
print(list_2)

[1, 3, 4, 5, 6, 8, 9, 10]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [5]:
list=[i for i in range(1,100) if str(i)==str(i)[::-1]]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

25. Write a program to flatten a nested list using list comprehension.

In [6]:
list=[[1,2,3],[4,5,6],[7,8,9]]
list_1=[j for i in list for j in i]
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [7]:
list=[1,2,3,4,5,6,7,8,9,10]
even=[i for i in list if i%2==0]
odd=[i for i in list if i%2!=0]
print(sum(even))
print(sum(odd))

30
25

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [8]:
list=[i**2 for i in range(1,11) if i%2!=0]
print(list)

[1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [9]:
list_1=[1,2,3,4,5,6,2,8,9,10]
list_2=[i for i in range(1,11)]
dict={list_1[i]:list_2[i] for i in range(len(list_1))}
print(dict)

{1: 1, 2: 7, 3: 3, 4: 4, 5: 5, 6: 6, 8: 8, 9: 9, 10: 10}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [10]:
# take a string from user
string=input("Enter a string: ")
list=[i for i in string if i in "aeiouAEIOU"]
print(list)

Enter a string: pwskills
['i']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [11]:
list=["1","2","3","4","5","6","7","8","9","10"]
list_1=[i for i in list if i.isnumeric()]
print(list_1)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [12]:
# take a number from user
n =int(input("enter the number"))
sieve = [True] * (n + 1)
sieve[0], sieve[1] = False, False  # 0 and 1 are not primes

for i in range(2, int(n ** 0.5) + 1):
    if sieve[i]:
        sieve[i*i : n+1 : i] = [False] * len(range(i*i, n+1, i))

primes = [i for i in range(2, n+1) if sieve[i]]

# Output the prime numbers
print(primes)

enter the number50
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [13]:
# TAKE INPUT FROM USER
limit = int(input("Enter the limit: "))
triplets = [(a, b, c) for a in range(1, limit + 1)
            for b in range(a, limit + 1)
            for c in range(b, limit + 1)
            if a**2 + b**2 == c**2]

# Output the Pythagorean triplets
print(triplets)

Enter the limit: 30
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (18, 24, 30), (20, 21, 29)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [15]:
list_1=[1,2,3,4,5]
list_2=[i for i in range(1,11)]
list_3=[(i,j) for i in list_1 for j in list_2]
print(list_3)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (1, 10), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (2, 10), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (3, 10), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (4, 10), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (5, 10)]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [16]:
list=[i for i in range(1,11)]
# mean
mean=sum(list)/len(list)
print(mean)
# median
median=(list[len(list)//2]+list[(len(list)//2)-1])/2
print(median)
# mode
mode=max(list,key=list.count)
print(mode)

5.5
5.5
1

35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

In [27]:
rows = int(input("Enter the number of rows: "))
triangle = [[1 if i == 0 or i == j else triangle[j-1][i-1] + triangle[j-1][i]
             for i in range(j+1)] for j in range(rows)]

# Output Pascal's triangle
for row in triangle:
    print(row)

KeyboardInterrupt: Interrupted by user

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [33]:
import math

# Specify the range of numbers
numbers = range(1, 6)

# Calculate the sum of the digits of the factorial for each number using list comprehension
sum_of_digits = [sum(int(digit) for digit in str(math.factorial(n))) for n in numbers]

# Pair each number with its corresponding sum of digits
result = list(zip(numbers, sum_of_digits))

TypeError: 'int' object is not callable

37. Write a program that finds the longest word in a sentence using list comprehension.

In [1]:
# take a string from user
string=input("Enter a string: ")
# find the longest word in the string
list=[i for i in string.split()]
longest_word=max(list,key=len)
print(longest_word)

Enter a string: python is fun to learn
python

38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

In [3]:
list=["hello","world","python","programming",'aeoi']
list_1=[i for i in list if sum(1 for j in i if j in "aeiouAEIOU")>3]
print(list_1)

['aeoi']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [5]:
sum_of_digits = sum([sum(int(digit) for digit in str(num)) for num in range(1, 1001)])

# Output the sum of the digits from 1 to 1000
print(sum_of_digits)

TypeError: 'int' object is not callable

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [6]:
prime_palindromes = [num for num in range(2, 1000)
                     if num > 1 and all(num % i != 0 for i in range(2, int(num ** 0.5) + 1))
                     and str(num) == str(num)[::-1]]

# Output the list of prime palindromic numbers
print(prime_palindromes)

[2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]